@model CloudCart.Models.Supplier

@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierIndustry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierIndustry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierJoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierJoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPinCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierDataLastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierDataLastUpdate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { id = @Model.SupplierId }, new {@class="btn btn-info" }) |
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
